includes:
    - phpstan-baseline.neon

parameters:
    phpVersion: 80100
    paths:
        - src
    level: max
    typeAliases:
        Meta: 'array{name:non-empty-string,value:mixed,importable?:bool,timestamp?:?positive-int}'
